<h1>Contact</h1>
<%= User.find(1).name %> <%= User.find(1).surname %> — создатель, ведущий разработчик и мотиватор проекта. На его краткосрочном счету лежит множество
проектов на PHP и Ruby
<p>Для контактной связи с разработчиками сайта используйте следующие варианты:</p>
<li><%= link_to 'Почтовый ящик', "mailto:senpaiguru1488@gmail.com" %></li>
<li><%= link_to 'Telegram', 'https://t.me/sentinel_600' %></li>
