<%= provide(:title, 'Main Page') %>
<h1>Главная страница (test)</h1>
<p>
  Это тестовая версия главной страницы веб-приложения
  <%= link_to "Animoral", root_path %>.
  <!--<script type="text/javascript" charset="utf-8">
      swal('Any fool can use a computer')
  </script>-->
</p>